.container {
    .list-group {
        .list-group-item {
            .image {
                align-items: center;
                display: flex;
                justify-content: center;
            }
        }
    }
}