.wrapper {
    height: 100vh;
    width: 100vw;
    align-items: center;
    display: flex;

    .container {
        display: flex;
        justify-content: center;

        .row {
            border: 1px solid var(--border-color);
            border-radius: 5px;

            form {
                margin: 20px;
            }
        }
    }
}