<div class="wrapper">
    <div class="container">
        <div class="row">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit($event)">
                <div class="col-12">
                    <h1>Front-End Developer Test</h1>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email</label>
                        <input type="email" class="form-control"
                            [ngClass]="{'is-invalid': loginForm.controls.email.errors && isSent || invalidUserOrPassword}"
                            id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email"
                            formControlName="email">
                        <div class="invalid-feedback" *ngIf="invalidUserOrPassword">
                            Usuário ou senha inválidos
                        </div>
                        <div class="invalid-feedback" *ngIf="loginForm.controls.email.errors?.required && isSent">
                            Campo obrigatório
                        </div>
                        <div class="invalid-feedback" *ngIf="loginForm.controls.email.errors?.email && isSent">
                            Email inválido
                        </div>
                    </div>

                </div>
                <div class="col-12">
                    <div class="form-group">
                        <label for="exampleInputPassword1">Senha</label>
                        <input type="password" class="form-control"
                            [ngClass]="{'is-invalid': loginForm.controls.password.errors && isSent || invalidUserOrPassword}"
                            id="exampleInputPassword1" placeholder="Senha" formControlName="password">
                        <div class="invalid-feedback" *ngIf="loginForm.controls.password.errors?.required && isSent">
                            A senha é obrigatória
                        </div>
                        <div class="invalid-feedback" *ngIf="loginForm.controls.password.errors?.minlength && isSent">
                            Quantidade mínima de caracteres é 6
                        </div>
                    </div>
                </div>
                
                <button type="submit" class="btn btn-primary">Entrar</button>
            </form>
        </div>
    </div>
</div>